In [1]:
import pandas as pd
import numpy as np

In [5]:
import plotly.graph_objects as go

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/rennanvoa2/Data_Visualization/master/movies.csv', sep = ';')
df.rename(columns={'gross':'revenue'}, inplace=True)
df = df.drop(['released', 'votes', 'writer'], axis=1)
df['profit'] = df['revenue'] - df['budget']
df.head()

,budget,company,country,director,genre,revenue,name,rating,runtime,score,star,year,profit
0,80000000,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,522874140,Stand by Me,R,89,81,Wil Wheaton,1986,442874140
1,60000000,Paramount Pictures,USA,John Hughes,Comedy,701363690,Ferris Bueller's Day Off,PG-13,103,78,Matthew Broderick,1986,641363690
2,150000000,Paramount Pictures,USA,Tony Scott,Action,1798006010,Top Gun,PG,110,69,Tom Cruise,1986,1648006010
3,185000000,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,851602480,Aliens,R,137,84,Sigourney Weaver,1986,666602480
4,90000000,Walt Disney Pictures,USA,Randal Kleiser,Adventure,185646130,Flight of the Navigator,PG,90,69,Joey Cramer,1986,95646130

In [19]:
df.isnull().sum()

budget      0
company     0
country     0
director    0
genre       0
revenue     0
name        0
rating      0
released    0
runtime     0
score       0
star        0
votes       0
writer      0
year        0
profit      0
dtype: int64

In [20]:
country = df.pivot_table(index=['country'], aggfunc='size')
country

country
Argentina                           13
Aruba                                1
Australia                           82
Austria                              6
Bahamas                              1
Belgium                             18
Brazil                               6
Canada                             150
Chile                                4
China                               24
Colombia                             2
Cuba                                 1
Czech Republic                       8
Denmark                             33
Federal Republic of Yugoslavia       1
Finland                              3
France                             283
Germany                            134
Greece                               5
Hong Kong                           39
Hungary                              7
Iceland                              1
India                               39
Indonesia                            2
Iran                                12
Ireland                             44
Israel                               5
Italy                               51
Jamaica                              1
Japan                               68
Kenya                                1
Malta                                1
Mexico                              15
Netherlands                         12
New Zealand                         18
Norway                               8
Palestine                            1
Panama                               1
Peru                                 2
Poland                               2
Portugal                             2
Republic of Macedonia                1
Romania                              5
Russia                              10
Saudi Arabia                         1
South Africa                         9
South Korea                         20
Soviet Union                         1
Spain                               56
Sweden                              18
Switzerland                          6
Taiwan                               8
Thailand                             3
UK                                 698
USA                               4872
Ukraine                              1
West Germany                         4
dtype: int64

In [21]:
year = df.pivot_table(index=['year'], aggfunc='size')
year

year
1986    220
1987    219
1988    220
1989    221
1990    220
1991    220
1992    220
1993    220
1994    220
1995    220
1996    220
1997    220
1998    220
1999    220
2000    220
2001    220
2002    220
2003    220
2004    220
2005    220
2006    220
2007    220
2008    220
2009    220
2010    220
2011    220
2012    220
2013    220
2014    220
2015    220
2016    220
dtype: int64

In [15]:
company = df.pivot_table(index=['company'], aggfunc='size')
company

company
"DIA" Productions GmbH & Co. KG    1
1+2 Seisaku Iinkai                 1
101st Street Films                 1
10th Hole Productions              1
120 Films                          1
                                  ..
Zucker Brothers Productions        1
double A Films                     1
erbp                               1
i5 Films                           1
micro_scope                        1
Length: 2179, dtype: int64

In [22]:
star = df.pivot_table(index=['star'], aggfunc='size')
star

star
'Weird Al' Yankovic    1
50 Cent                1
A.J. Cook              1
Aaliyah                1
Aamir Khan             9
                      ..
Zoey Deutch            2
Zooey Deschanel        2
Álex Angulo            1
Élodie Bouchez         1
Émilie Dequenne        1
Length: 2504, dtype: int64

In [23]:
director = df.pivot_table(index=['director'], aggfunc='size')
director

director
A.R. Murugadoss       1
Aamir Khan            1
Aaron Blaise          1
Aaron Harvey          1
Aaron Kim Johnston    1
                     ..
Åke Sandgren          1
Élie Chouraqui        1
Éric Rohmer           6
Étienne Chatiliez     1
Éva Gárdos            1
Length: 2759, dtype: int64

In [24]:
genre = df.pivot_table(index=['genre'], aggfunc='size')
genre

genre
Action       1331
Adventure     392
Animation     277
Biography     359
Comedy       2080
Crime         522
Drama        1444
Family         14
Fantasy        32
Horror        277
Musical         4
Mystery        38
Romance        15
Sci-Fi         13
Thriller       18
War             2
Western         2
dtype: int64

In [27]:
rating = df.pivot_table(index=['rating'], aggfunc='size')
rating

rating
B                   1
B15                 1
G                 147
NC-17              22
NOT RATED         174
Not specified      63
PG                951
PG-13            1995
R                3392
TV-14               1
TV-MA               1
TV-PG               1
UNRATED            71
dtype: int64